<template name="rolesAndPermissions">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">User Roles</h4>
                    {{> rolesSearch}}
                </div>
                <div class="panel-body">
                    {{> newRole }}
                    {{> roles }}
                </div>
                <div class="panel-footer">
                    <a id="edit-role" class="btn btn-raised btn-sm btn-primary" data-toggle="modal"
                       data-target="#edit-role-modal" {{canEditRole}}>
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                    <a id="delete-role" class="btn btn-raised btn-sm btn-danger" data-toggle="modal"
                       data-target="#delete-role-modal" {{canEditRole}}>
                        <i class="fa fa-times"></i> Delete
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">User Permissions</h4>
                    {{> permissionsSearch }}
                </div>
                <div class="panel-body">
                    {{> newPermission }}
                    {{> permissions }}
                </div>
                <div class="panel-footer">
                    <a id="edit-permission" class="btn btn-raised btn-sm btn-primary" data-toggle="modal"
                       data-target="#edit-permission-modal" {{canEditPermission}}>
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                    <a id="delete-permission" class="btn btn-raised btn-sm btn-danger" data-toggle="modal"
                       data-target="#delete-permission-modal" {{canEditPermission}}>
                        <i class="fa fa-times"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{> editRoleModal }}
    {{> deleteRoleModal }}
    {{> editPermissionModal }}
    {{> deletePermissionModal }}
</template>
