<template name="dashboard">
    <div class="clearfix">
        <h3 class="pull-left">Summary for {{selectedDate}}</h3>
        {{> setSalesDate }}
    </div>
    <div id="dashboard">
        <div id="widgets" class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-primary clearfix">
                    <div class="widget-top row">
                        <div class="widget-stats col-xs-8">
                            <h4 class="widget-title">Goal</h4>
                            <p class="widget-facts">{{selectedDateGoal}}</p>
                        </div>
                        <div class="widget-icon col-xs-4">
                            <i class="fa fa-bullseye"></i>
                        </div>
                    </div>
                    <p class="widget-detail">
                        Total goal sales set for the day.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-success clearfix">
                    <div class="widget-top row">
                        <div class="widget-stats col-xs-8">
                            <h4 class="widget-title">Sales</h4>
                            <p class="widget-facts">{{selectedDateSales}}</p>
                            <p class="widget-facts-percentage">{{achievementPercentage}}%</p>
                        </div>
                        <div class="widget-icon col-xs-4">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                    <p class="widget-detail">
                        Total actual sales made on the day.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-warning clearfix">
                    <div class="widget-top row">
                        <div class="widget-stats col-xs-8">
                            <h4 class="widget-title">Sales Team</h4>
                            <p class="widget-facts">{{selectedDateSalesTeam}}</p>
                        </div>
                        <div class="widget-icon col-xs-4">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                    <p class="widget-detail">
                        Number of Salesperson deployed on the day.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-danger clearfix">
                    <div class="widget-top row">
                        <div class="widget-stats col-xs-8">
                            <h4 class="widget-title">Returns</h4>
                            <p class="widget-facts">{{selectedDateReturns}}</p>
                        </div>
                        <div class="widget-icon col-xs-4">
                            <i class="fa fa-undo"></i>
                        </div>
                    </div>
                    <p class="widget-detail">
                        Number of crates returned on the day.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {{> dailySalesGraph }}
        </div>
        <div class="col-sm-4">
            {{> dailyPerformance}}
        </div>
    </div>
</template>

<template name="dailyPerformance">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Top Performers</h4>
        </div>
        <div class="panel-body">
            <div class="list-group">
                {{#if hasPerformers}}
                    {{#each topPerformers}}
                        <div class="list-group-item">
                            <div class="row-action-primary">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{salespersonName}}</h4>
                                <p class="list-group-item-text">
                                    <strong>G:</strong>{{salespersonGoal}}
                                    <strong>S:</strong>{{salespersonSold}}
                                    <strong>P:</strong>{{salespersonPercentage}}%
                                </p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    {{/each}}
                {{else}}
                    <div class="no-data">
                        <p class="text-center"><strong>No Data Available</strong></p>
                    </div>
                {{/if}}
            </div>

        </div>
    </div>
</template>